<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115304537008-vkgars67fh9slmkarib4l064974ek65h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115304537008-vkgars67fh9slmkarib4l064974ek65h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115304537008-7udakp002af508ju3oav2k42ge0aopb9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCENhUU4dey2K_qyqOFbnzkC4se1zTbJVU</string>
	<key>GCM_SENDER_ID</key>
	<string>115304537008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rainbow.app</string>
	<key>PROJECT_ID</key>
	<string>rainbow-99314</string>
	<key>STORAGE_BUCKET</key>
	<string>rainbow-99314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115304537008:ios:df16dcf4be319e74789475</string>
</dict>
</plist>